<div class="l-side">
  <nav class="mypage-nav">
    <ul class="mypage-nav-list">
      <li>
        <select name="select" onChange="location.href=value;" class="side-select" >
          <option value="#" class="default">カテゴリー</option>
          <option value="/questions/lovingexpression/category">愛情表現</option>
          <option value="/questions/longrangelove/category">遠距離恋愛</option>
          <option value="/questions/rundown/category">駆け落ち</option>
          <option value="/questions/koikatsu/category">恋活</option>
          <option value="/questions/marriage/category">婚活</option>
          <option value="/questions/triangle/category">三角関係</option>
          <option value="/questions/jealousy/category">嫉妬</option>
          <option value="/questions/brokenheart/category">失恋</option>
          <option value="/questions/workromance/category">職場恋愛</option>
          <option value="/questions/sexless/category">セックスレス</option>
          <option value="/questions/sex/category">セックス</option>
          <option value="/questions/kiss/category">接吻</option>
          <option value="/questions/polysexuality/category">多性愛</option>
          <option value="/questions/date/category">デート</option>
          <option value="/questions/cohabitation/category">同棲</option>
          <option value="/questions/nampa/category">ナンパ</option>
          <option value="/questions/catastrophic/category">破局</option>
          <option value="/questions/firstlove/category">初恋</option>
          <option value="/questions/firstglance/category">一目ぼれ</option>
          <option value="/questions/dried/category">妾</option>
          <option value="/questions/concubine/category">略奪愛</option>
          <option value="/questions/plunderlove/category">両性愛</option>
          <option value="/questions/affair/category">不倫</option>
          <option value="/questions/divorce/category">離婚</option>
        </select>
        <%# <%= link_to "質問カテゴリー", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%> 
        <i class="fas fa-sort-down"></i>
     </li>
     <li>
     <select name="select" onChange="location.href=value;" class="side-select" >
          <option value="#" class="default">性別</option>
          <option value="/questions/men/select">男性</option>
          <option value="/questions/lady/select">女性</option>
        </select> 
        <i class="fas fa-sort-down"></i> 
      </li>
     <li>
        <select name="select" onChange="location.href=value;" class="side-select" >
          <option value="#" class="default">年齢</option>
          <option value="/questions/10later/select">10第後半</option>
          <option value="/questions/20first/select">20代前半</option>
          <option value="/questions/20later/select">20代後半</option>
          <option value="/questions/30first/select">30代前半</option>
          <option value="/questions/30later/select">30代後半</option>
          <option value="/questions/40first/select">40代前半</option>
          <option value="/questions/40later/select">40代後半</option>
          <option value="/questions/50later/select">50代</option>
          <option value="/questions/60later/select">60代</option>
        </select>
        <%# <%= link_to "年代", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%> 
        <i class="fas fa-sort-down"></i>
     </li>
     <li>
        <%= link_to "ユーザーランキング", questions_userrank_path(@question) ,class:'mypage-nav-list-item' %>
        <i class="icon-arrow-right"></i>
     </li>
     <li>
        <%= link_to "人気質問ランキング", questions_rank_path(@question) ,class:'mypage-nav-list-item' %>
        <i class="icon-arrow-right"></i>
     </li>
     <li>
        <%= link_to "閲覧ランキング", questions_pvrank_path(@question) ,class:'mypage-nav-list-item' %>
        <i class="icon-arrow-right"></i>
     </li>
      <li>
        <%= link_to "マイページ", user_path(current_user.id) ,class:'mypage-nav-list-item'if user_signed_in? %>
        <i class="icon-arrow-right"></i>
      </li>
      <li>
        <%= link_to "マイページの編集", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="icon-arrow-right"></i>
     </li>
    </ul>
  </nav>
</div>

