<div class="l-side">
  <nav class="mypage-nav">
    <ul class="mypage-nav-list">
      <li>
        <%= link_to "質問カテゴリー", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="fas fa-sort-down"></i>
     </li>
     <li>
     <select name="select" onChange="location.href=value;" class="side-select" >
          <option value="#" class="default">性別</option>
          <option value="/questions/men/select">男性</option>
          <option value="/questions/lady/select">女性</option>
        </select> 
        <i class="fas fa-sort-down"></i> 
      </li>
     <li>
        <%= link_to "年代", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="fas fa-sort-down"></i>
     </li>
     <li>
        <%= link_to "回答ランキング", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="icon-arrow-right"></i>
     </li>
     <li>
        <%= link_to "閲覧ランキング", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="icon-arrow-right"></i>
     </li>
      <li>
        <%= link_to "マイページ", user_path(current_user.id) ,class:'mypage-nav-list-item'if user_signed_in? %>
        <i class="icon-arrow-right"></i>
      </li>
      <li>
        <%= link_to "マイページの編集", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="icon-arrow-right"></i>
     </li>
    </ul>
  </nav>
</div>

