<div class="l-side">
  <nav class="mypage-nav">
    <ul class="mypage-nav-list">
      <li>
        <%= link_to "質問カテゴリー", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="fas fa-sort-down"></i>
     </li>
     <li>
     <select name="select" onChange="location.href=value;" class="side-select" >
          <option value="#" class="default">性別</option>
          <option value="/questions/men/select">男性</option>
          <option value="/questions/lady/select">女性</option>
        </select> 
        <i class="fas fa-sort-down"></i> 
      </li>
     <li>
        <select name="select" onChange="location.href=value;" class="side-select" >
          <option value="#" class="default">年齢</option>
          <option value="/questions/10later/select">10第後半</option>
          <option value="/questions/20first/select">20代前半</option>
          <option value="/questions/20later/select">20代後半</option>
          <option value="/questions/30first/select">30代前半</option>
          <option value="/questions/30later/select">30代後半</option>
          <option value="/questions/40first/select">40代前半</option>
          <option value="/questions/40later/select">40代後半</option>
          <option value="/questions/50later/select">50代</option>
          <option value="/questions/60later/select">60代</option>
        </select>
        <%# <%= link_to "年代", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%> 
        <i class="fas fa-sort-down"></i>
     </li>
     <li>
        <%= link_to "回答ランキング", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="icon-arrow-right"></i>
     </li>
     <li>
        <%= link_to "閲覧ランキング", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="icon-arrow-right"></i>
     </li>
      <li>
        <%= link_to "マイページ", user_path(current_user.id) ,class:'mypage-nav-list-item'if user_signed_in? %>
        <i class="icon-arrow-right"></i>
      </li>
      <li>
        <%= link_to "マイページの編集", edit_user_path(current_user) ,class:'mypage-nav-list-item' if user_signed_in?%>
        <i class="icon-arrow-right"></i>
     </li>
    </ul>
  </nav>
</div>

