<div class="container">
  <ul class="row",style="padding-left: 0px;padding-top: 0px;">
    <%= render 'questions/sort'%>
    <% @results.each do |result|%>
      <li class="question-form">
        <p class="title">
        <%=link_to(result.title, "/questions/#{result.id}") %>
        </p>
          <p>
        <%=result.created_at.strftime("%Y年%m月%d日")%>
        </p> 
        <% if @btquestion_id.include?(result.id)  %>
        <i class="fas fa-comment"></i>
          解決済み
        <%else%>
        <i class="far fa-comment"></i>
         回答待ち
         <%end%>
      </li>
    <% end %>

  </ul>
<div class="footer-sell-btn-main">
<%=link_to new_question_path,class:"footer-write-btn" do%>
  <p>新規作成</p>
  <i class="fas fa-pen"></i>
  <% end %>
</div>
<%= paginate @results %>
</div>