

<div class="container">
  <div class="col-md-12 margin-top-5per artcle-block2">
    <h1 class="text-center">質問の新規作成</h1>
    <div class="padding-bottom-15">
      <%=form_for @question do |f|%>
        <%=f.label:title,"タイトル"%>
        <div class="form-group padding-top-15per">
          <%=f.text_field:title ,class:'form-control'%>
        </div>
        <%=f.label:body,"本文"%>
        <div class="form-group padding-top-15per">
          <%=f.text_area:body ,rows: 10,class:'form-control'%>
        </div>
        <%=f.submit "質問投稿",class:'btn btn-success'%>
      <%end%>
    </div>
  </div>
</div>

