<%= render 'questions/aside'%>

<%= render 'questions/l-side'%>

<div class="container">
  <ul class="row",style="padding-left: 0px;padding-top: 0px;">
    <% @user_ranks.each.with_index(1) do |user, i|%>
      
        <li class="question-form">
        <% if i == 1%>
        <p class="rank">
          <i class="fas fa-crown my-gold"></i>
          第<%= i%>位 
        </p>
        <%elsif i == 2%>
          <p class="rank">
            <i class="fas fa-crown my-silver"></i>
            第<%= i%>位 
          </p>
          <%elsif i == 3%>
          <p class="rank">
            <i class="fas fa-crown my-copper"></i>
            第<%= i%>位 
          </p>
          <%else%>
          <p class="rank">
            第<%= i%>位 
          </p>
         <%end%>
          <p class="title">
            <%=link_to(user.name, "/users/#{user.id}/post") %>
          </p>
        </li>
    <%end%>
  </ul>
</div>
