<% breadcrumb :edit_user %>
<%= render 'questions/breadcrumbs'%>
<div class="container">
<h2 class="text-center">ユーザー編集</h2>
  <%= form_for(current_user) do |f| %>
    <div class="form-group">
      <div class="field-label">
        <%= f.label :name ,'名前'%>
      </div>
      <div class="field-input">
        <%= f.text_field :name, autofocus: true  ,class:"form-control"%>
      </div>
    </div>
     <div class="form-group">
      <%= f.label :gender ,'性別'%><br />
      <%= f.collection_select :gender, Gender.all, :id, :value  , { prompt: '--' }, class:"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :gender ,'年代'%><br />
      <%= f.collection_select :age, Age.all, :id, :value , { prompt: '--' }, class:"form-control"%>
    </div>
    <div class="form-group">
      <div class="field-label">
        <%= f.label :email ,'メールアドレス'%>
      </div>
      <div class="field-input">
        <%= f.email_field :email  ,class:"form-control"%>
      </div>

      <div class="form-group">
      <%= f.label :image ,"画像",style:'margin-top:10px;'%><br/>
      <%= f.file_field :image %>
 </div>
    </div>
    <div class="actions">
      <%= f.submit "更新", class: 'btn btn-success' %>
    </div>
  <% end %>

</div>
