<div class="container">
<%= render 'questions/aside'%>
<%= render 'questions/l-side'%>
<div class="row1",style="padding-left: 87px;">
<% @questions.each do |question|%>
  <%= link_to question do%>
    <li class="question-form">
        <p class="title">
        <%=question.title%>
        </p>
          <p>
        <%=question.created_at.strftime("%Y年%m月%d日")%>
        </p> 
      </li>
  
  <%end%>
<%end%>
</div>
</div>