<%= render 'questions/aside'%>
<%= render 'questions/l-side'%>
<div class="container">
  <div class="row">
    <div class="tabs">
      <input id="all" type="radio" name="tab_item" checked>
      <label class="tab_item" for="all">投稿一覧</label>
      <input id="programming" type="radio" name="tab_item">
      <label class="tab_item" for="programming">ブックマーク一覧</label>
      <% @questions.each do |question|%>
        <div class="tab_content" id="all_content">
          <li class="question-form">
            <p class="title">
              <%=link_to(question.title, "/questions/#{question.id}") %>
            </p>
            <p>
              <%=question.created_at.strftime("%Y年%m月%d日")%>
            </p> 
        </li>
        </div>
      <%end%>
        <% @bookmark_questions.each do |question|%>
        <div class="tab_content" id="programming_content">
          <li class="question-form">
            <p class="title">
              <%=link_to(question.title, "/questions/#{question.id}") %>
            </p>
            <p>
              <%=question.created_at.strftime("%Y年%m月%d日")%>
            </p> 
        </li>
      </div> 
    <%end%>
  </div>
</div>
    


