<div class="container">

<h1><%= @question.title%></h1>
<div class="padding-bottom-15">
<p class="title">
<%=@question.body%>
</p>
<p class="text-right">
<%=@question.created_at.strftime("%Y年%m月%d日")%>
</p>
</div>
<%= form_for [@question, @answer] do |f| %>
<% if @answer.errors.any?%>
  <% @answer.errors.full_messages.each do |message| %>
    <div>
      <%= message %>
    </div>
  <%end%>
<%end%>
<%=f.label:body%>
 <div class="form-group padding-top-15per">
<%=f.text_area:body ,rows: 10,class:'form-control'%>
</div>
<%=f.submit "回答する",class:'btn btn-info'%>
<%end%>


</div>
