<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%# <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation"> %>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">恋愛質問箱</a>
        </div>
        
        <div class="collapse navbar-collapse" id="navigation">
        <p class="navbar-text navbar-right">
        <% if user_signed_in?%>
        <% if current_user.image%>
       
         <%= image_tag "#{current_user.image}" ,class:"icon_image2"%> 
         <%else%>
          <%= image_tag "/images/default.jpg" ,class:"icon_image2"%> 
         <%end%>

         &nbsp;
         <%= current_user.name%>でログイン中
         &nbsp;
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
        <%else%>
          <%= link_to 'サインアップ', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <%end%>
          </p>
        </div>
      </div>
    </nav>
